* {
    margin: 0;
    padding: 0;
    background-color: #121212;
  
    
}

.header {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
    margin: 50px auto;
    width: 70%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links li img {
    width: 110px;
    height: 30px;
    object-fit: contain;
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    padding: 5px 5px;
    border-radius: 25px;
}

.front {
    height: 100vh;
    background-color: #121212;
    color: white;
}

.front h2 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 10px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9rem;
}

.front h1 {
    font-size: 60px;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    text-transform: capitalize;
    animation: slideInFromLeft 1.5s ease-out forwards;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.front p {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2;
    font-size: 16px;
    font-weight: bold;
}

.click-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.click-button button {
    padding: 13px 40px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 50px;
    background-color: green;
    border: 2px solid green;
}

.click-button button:hover {
    background-color: yellowgreen;
}
